@model MVCApp.Models.PokemonTypeViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pokemon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pokemon.Name" class="control-label"></label>
                <input asp-for="Pokemon.Name" class="form-control" />
                <span asp-validation-for="Pokemon.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.Type" class="control-label"></label>
                <select asp-for="Pokemon.Type" asp-items="Model.Types" class="form-control" multiple>
                </select>
                <span asp-validation-for="Selected" class="text-danger"></span>
            </div>
            @* @Html.DropDownListFor(model => model.Selected, types, "-- Select Status --") *@
            <div class="form-group">
                <label asp-for="Pokemon.Health" class="control-label"></label>
                <input asp-for="Pokemon.Health" class="form-control" />
                <span asp-validation-for="Pokemon.Health" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.Attack" class="control-label"></label>
                <input asp-for="Pokemon.Attack" class="form-control" />
                <span asp-validation-for="Pokemon.Attack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.Defense" class="control-label"></label>
                <input asp-for="Pokemon.Defense" class="form-control" />
                <span asp-validation-for="Pokemon.Defense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokemon.Speed" class="control-label"></label>
                <input asp-for="Pokemon.Speed" class="form-control" />
                <span asp-validation-for="Pokemon.Speed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
